/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.logo-container {
    width: 59px; /* Adjust size as needed */
    height: 53px; /* Adjust size as needed */
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
}

.logo-container img {
    width: 100%;
    height: auto;
    display: block;
}

.title-container {
                     /* Adjust spacing between logo and title */
    margin-left: 10px;
}

.title-container h2 {
    margin: 0;
    font-size: 1.5rem;
}

button {
    padding: 15px 30px; /* Adjust padding to change size */
    font-size: 1.2rem; /* Adjust font size */
    cursor: pointer;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button {
    background-color: #0056b3; /* Button background color on hover */
} 
button {
     
    margin-left: 63px;
}

p {
 margin-left: 10px;
}


h2 { 
  font-family: 'Times New Roman', serif;
}
