<DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles1.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='16f6080f1540f1a4bac853126f87333b.jpg') }}">

<title>Govenment of India</title>

</head>
<body>
    <header>
<div class="logo-container">
            <img src="{{ url_for('static', filename='images (1).jpeg') }}" alt="Logo"> 
        </div>
<div class="title-container">
        <h2>Instagram Protection of India</h2>
</div>
    </header>
    <p style="font-size: 36px;"> Welcome to InstaProtect</p>
   <p style="font-size: 27px;">Safeguarding Your Instagram Experience</p>
<p> At InstaProtect, we are committed to helping you<br> stay safe on Instagram. Whether you are a casual user, influencer, or business, our resources and<br>
 tools are designed to protect your account and personal information.</p>

<button onclick="location.href='{{ url_for('second_page') }}'">Go to Secure Instagram</button>
</body>
<hr>
<p style="font-size: 29px;">Why Instagram Safety Matters</p>
<p> Instagram is a powerful platform for connecting<br> with friends, sharing your creativity, and growing your business. However, it's also a target for<br> scammers, hackers, and cybercriminals. Staying informed and taking proactive steps can significantly reduce your risk of falling victim to online threats.</p>









</html>
