<!DOCTYPE html>
<html>
<body>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles2.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='16f6080f1540f1a4bac853126f87333b.jpg') }}">
    <title>Govenment of India</title>
</head>

    <header>
<div class="logo-container">
            <img src="{{ url_for('static', filename='images (1).jpeg') }}" alt="Logo">
        </div>
<div class="title-container">
        <h2>Instagram Protection of India</h2>
</div>
    </header>

<div class="box">
   <h3> Your account is protected!</h3>
</div>

<h5>Your account is secured on our server. </h5>
<div class="text">
    <h2>Thank you for your Service</h2>
</div>


</body>


</html>